@import url('https://fonts.googleapis.com/css2?family=Karla&family=Markazi+Text&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  list-style: none;
  font-family: 'Karla', sans-serif;
  border-radius: 16px;
  background-color: transparent;
}
:root {
  min-width: 320px;
}
:root > * {
  margin: 0 15vw;
}

h1 {
  font-size: calc(3rem + 5vw);
  font-family: 'Markazi Text', serif;
  color: #F4CE14;
  font-weight: 500;
}
h2 {
  font-size: calc(2rem + 2vw);
  font-family: 'Markazi Text', serif;
}
h3, button {
  font-size: calc(1rem + 1vw);
}
h4 {
  font-size: calc(1.25rem + 1.25vw);
  font-weight: 800;
  text-transform: uppercase;
}
h5, nav, label {
  font-size: 1.25rem;
  font-weight: 800;
}
h6, footer figcaption {
  font-size: 1.125rem;
  font-weight: 700;
}
p {
  font-size: 1rem;
}
span, footer a {
  font-size: 1rem;
  font-weight: 500;
  color: #EE9972;
}

a {
  text-decoration: none;
  color: black;
}
button {
  display: inline-block;
  padding: 1rem;
  background-color: #F4CE14;
  color: #495E57;
}
button:hover {
  box-shadow: 5px 3px 3px;
  cursor: pointer;
}
button:active {
  background-color: #EE9972;
}
input, select {
  background-color: #EDEFEE;
}

main section  {
  margin-bottom: 10vh;
}
section > div ~ div {
  margin-top: 5vh;
}