nav {
    min-height: 20vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  #nav-logo {
    flex: 1;
    height: 50%;
  }
  #nav-list {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  min-width: 70%;
  }
  #nav-list > a {
    flex: 1;
    text-align: center;
    line-height: 7vh;
    margin: 1rem;
  }
  #nav-list > a :hover, #home{
    background-color: #F4CE14;
  }
  #nav-list > a :active{
    background-color: #EE9972;
  }