* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    list-style: none;
}

nav {
  height: 20vh;
  display: inline-flex;
}
.nav-logo {
    width: 50%;
}
.nav-list {
flex: 1;
display: inline-flex;
}
.nav-item {
    flex: 1;
    flex-wrap: wrap;
}

footer {
    text-align: center;
    height: 30vh;
    display: inline-flex;
  }
